.aboutSectionOne {
  padding-top: 6rem;
}
.aboutSectionOneTtl {
  padding: 0 1rem;
  text-align: center;
  max-width: 510px;
  margin: auto;
}
.aboutSectionOneImgSec {
  margin-top: 3rem;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1.1/0.5;
}
.aboutSectionOneImg1 {
  background-image: url("../../../assets/images/blogOne.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.aboutSectionOneImg2 {
  background-image: url("../../../assets/images/aboutImg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 2;
}
.aboutSectionOneImg3 {
  background-image: url("../../../assets/images/aboutImg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 2;
  grid-row-end: 3;
}
.aboutSectionOneImg4 {
  background-image: url("../../../assets/images/aboutImg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.aboutSectionOneImgSec img {
  width: 100%;
  height: 100%;
}
.aboutSectionOneImgSec > div {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.aboutSectionOneImgSec > div > img {
  height: 48%;
}
.aboutSectionTwo {
  padding-top: 5rem;
  text-align: center;
  position: relative;
  padding-bottom: 5rem;
}
.purplebg {
  position: absolute;
  background: #c0aedd;
  width: 100%;
  height: 600px;
  left: 0;
  top: -5rem;
  z-index: -1;
}
.aboutSectionTwoTtl {
  text-align: center;
}
.aboutTeamWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.aboutTeamItem {
}
.aboutTeamItem img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.aboutTeamItem p:first-of-type {
  margin: 10px 0 2px;
  font-weight: 600;
}
.aboutTeamItem p:last-of-type {
  font-size: 14px;
}
.aboutSectionThree {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.aboutSectionThreeTtl {
  text-align: center;
}
.aboutSectionThreeWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.aboutThreeBg {
  background: #f0f0f0;
}
.aboutSectionThreeItem {
  max-width: 250px;
  margin: auto;
}
.aboutSectionThreeItem h3 {
  margin-bottom: 5px;
}
.aboutSectionThreeItem hr {
  border-color: #5d3fd3;
  height: 3px;
  background: #5d3fd3;
  width: 70%;
  margin-left: 0;
  margin-top: 0;
}
.aboutSectionThreeItem p {
  text-align: justify;
}
.aboutSectionFour {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.aboutSectionFourTtl {
  text-align: center;
}
.aboutSectionFourForm {
  display: flex;
  border: 2px solid #c4c4c4;
  border-radius: 12px;
  margin: 3rem auto;
  max-width: 700px;
  padding: 3rem;
}
.aboutInputSec {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 2rem;
}
.aboutSectionFourLabel {
  margin-bottom: 1.5rem;
}
.aboutInput {
  width: 100%;
}
.aboutTextarea {
  width: 100%;
  background: #dcdcdc;
  border: none;
  height: 90%;
  border-radius: 12px;
  padding-left: 1rem;
  padding-top: 12px;
}
.fillHalf {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .aboutSectionOneTtl,
  .aboutSectionTwoTtl,
  .aboutSectionThreeTtl {
    font-size: 2rem;
  }
  .aboutTeamWrap,
  .aboutSectionThreeWrap {
    grid-template-columns: 1fr 1fr;
  }
  .purplebg {
    height: 850px;
  }
  .aboutSectionFourForm {
    flex-direction: column;
  }
  .aboutInputSec {
    width: 100%;
    padding-right: 0;
  }
  .fillHalf {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .aboutSectionOneTtl,
  .aboutSectionTwoTtl,
  .aboutSectionThreeTtl {
    font-size: 1.6rem;
  }
  .aboutSectionThreeWrap {
    grid-template-columns: 1fr;
  }
  .purplebg {
    height: 1100px;
  }
  .aboutTeamItem img {
    width: 100%;
    aspect-ratio: 1;
    height: unset;
  }
  .aboutSectionOneImgSec {
    grid-template-columns: 1fr 1fr;
  }
  .aboutSectionOneImg4 {
    display: none;
  }
  .aboutSectionOneImgSec {
    gap: 12px;
  aspect-ratio: 1/0.6;
  }
}
