.premiumsectionOne {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.premiumsectionOneTtl {
    color: #5D3FD3;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5rem;
}
.premiumsectionOneTtl span {
    display: block;
    margin-left: -2rem;
    font-weight: 300;
    position: relative;
}
.premiumsectionOneTtl span::after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 190px;
    background: #5D3FD3;
    height: 3px;
}
.premiumsectionOneWrap {
    display: flex;
    justify-content: space-between;
}
.premiumsectionOneInfo {
    width: 48%;
}
.premiumsectionOneInfottl {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.premiumsectionOneInfoList {
    list-style-image: url("../../../assets/vectors/premiumList.svg");
}
.premiumsectionOneInfoList li {
    padding-left: 1rem;
    padding-bottom: 1.8rem;
}
.premiumsectionOneInfoListItemHd {
    font-weight: 600;
    font-size: 1.25rem;
}
.premiumsectionOneInfoListItemTxt {

}
.premiumsectionOneImg {
    width: 48%;
}
.premiumSectionTwo {
    padding-top: 4rem;
    padding-bottom: 8rem;
}
.premiumSectionTwoTxt {
    text-align: center;
    margin-bottom: 2rem;
}
.premiumSectionTwoForm {
    margin: auto;
    border: 2px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    border-radius: 9px;
    max-width: 800px;
    font-family: 'Roboto Condensed';
}
.premiumSectionTwoBtn {
    height: 50px;
    padding: 5px 2rem;
    width: 35%;
    border-radius: 8px;
    margin: auto;
    min-width: 150px;
    margin-top: 10px;
}
.premiumSectionTwoForm label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}